<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/show.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Image Processing App</title>
    <style>
        .navbar {
            background-color: #91fa96;
            color: white;
            font-family: 'Oleo Script', cursive;
            font-size: 4.5rem;
            text-shadow: 2px 2px 8px black;
        }
    </style>
</head>
<nav class="navbar d-flex justify-content-center fixed-top">
    <span class="mb-0 h1">The Image Processor</span>
</nav>

<body>