<h1>Form</h1>
<form action="/form/img" method="POST" enctype="multipart/form-data">
    <label for="exampleFormControlFile1">Image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" name="image" accept="image/*">
    <button>Submit</button>
</form>
<h1>OR</h1>
<form action="/form/url" method="POST">
    <input type="text" name="url" placeholder="Image URL">
    <button>Submit</button></form>